[package]
version = "0.2.0"
name = "embedded-graphics-simulator"
description = "Embedded graphics simulator"
authors = ["James Waples <james@wapl.es>"]
repository = "https://github.com/embedded-graphics/simulator"
documentation = "https://docs.rs/embedded-graphics-simulator"
categories = ["embedded", "no-std"]
keywords = ["simulator", "graphics", "embedded"]
readme = "./README.md"
license = "MIT OR Apache-2.0"
edition = "2018"
exclude = [
    ".circleci",
    ".travis.yml",
    ".gitignore",
    "convert_1bpp.sh",
]

[badges]
circle-ci = { repository = "embedded-graphics/simulator", branch = "master" }

[[bench]]
harness = false
name = "primitives"
[[bench]]
harness = false
name = "primitives_fixed_point"
required-features = ["fixed_point"]
[[bench]]
harness = false
name = "fonts"
[[bench]]
harness = false
name = "image"
[[bench]]
harness = false
name = "contains"

[dependencies]
image = "0.23.0"

[dependencies.sdl2]
version = "0.32.2"
optional = true

[dependencies.embedded-graphics]
# version = "=0.7.0-alpha.1"
# TODO: Remove when a new e-g alpha is released
git = "https://github.com/embedded-graphics/embedded-graphics"
branch = "new-repo"

[dev-dependencies]
chrono = "0.4.10"
criterion = { version = "0.3.0", default-features = false }

[dependencies.tinybmp]
# version = "0.2.2"
# TODO: Remove when a new e-g alpha is released
git = "https://github.com/embedded-graphics/tinybmp"
branch = "new-repo"

[dependencies.tinytga]
# version = "0.3.2"
# TODO: Remove when a new e-g alpha is released
git = "https://github.com/embedded-graphics/tinytga"
branch = "new-repo"

[features]
default = [ "with-sdl" ]
fixed_point = [ "embedded-graphics/fixed_point" ]
with-sdl = [ "sdl2" ]
